@model GlobalGames.Dados.Entidades.Servicos
@{
    ViewData["Title"] = "Servicos";
}


<section id="main">
    <div class="container">
        <article id="main-col">
            <h1 class="titulo">Serviços</h1>

            <ul id="servicos">
                <li>
                    <h3>Jogos Unity</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu ante faucibus, congue nunc vitae, bibendum mauris. Praesent dui nibh, tincidunt at finibus vitae, feugiat non purus. </p>
                    <p>Preços: 1.000&euro; - 3.000&euro;</p>
                </li>

                <li>
                    <h3>Jogos Unreal</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu ante faucibus, congue nunc vitae, bibendum mauris. Praesent dui nibh, tincidunt at finibus vitae, feugiat non purus. </p>
                    <p>Preços: 2.500&euro; - 6.000&euro;</p>
                </li>

                <li>
                    <h3>Desenvolvimento de personagens</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu ante faucibus, congue nunc vitae, bibendum mauris. Praesent dui nibh, tincidunt at finibus vitae, feugiat non purus. </p>
                    <p>Preços: 3.000&euro; - 7.500&euro;</p>
                </li>

            </ul>

        </article>

        <aside id="sidebar">
            <div class="dark">
                <h3>Peça um orçamento</h3>
                <form asp-controller="Servicos" asp-action="Create" class="orcamento">
                    <div>
                        <label asp-for="Nome"></label>
                        <input asp-for="Nome" placeholder="Nome" />
                        <span asp-validation-for="Nome"></span>
                    </div>

                    <div>
                        <label asp-for="Email"></label>
                        <input asp-for="Email" placeholder="Email" />
                        <span asp-validation-for="Email"></span>
                    </div>

                    <div>
                        <label asp-for="Mensagem"></label>
                        <textarea asp-for="Mensagem" placeholder="Mensagem"></textarea>
                        <span asp-validation-for="Mensagem"></span>
                    </div>

                    <button class="button_1" type="submit">Enviar</button>
                </form>
            </div>
        </aside>
    </div>
</section>

@section Scripts{
    <script type="text/javascript">
        document.querySelector('#servicos').className = 'selecionado';
    </script>
}